@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Geist', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Geist'; /* Provide a name for your font */
    src: url('assets/fonts/Geist-Regular.otf') format('otf'),
    url('assets/fonts/Geist-Regular.woff2') format('woff2');
    /* Add more src entries for different font file formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono'; /* Provide a name for your font */
    src: url('assets/fonts/GeistMono-Regular.otf') format('otf'),
    url('assets/fonts/GeistMono-Regular.woff2') format('woff2');
    /* Add more src entries for different font file formats if needed */
    font-weight: normal;
    font-style: normal;
}

/*.company-title {*/
/*    font-family: 'Abel', sans-serif;*/
/*}*/